---
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <nav>
    <div class="internal-links">
      <div class="text">
        <HeaderLink href="/">
          <span class="material-symbols-outlined">home</span>
        </HeaderLink>
         Home
      </div>
      <div class="text">
        <HeaderLink href="/blog">
          <span class="material-symbols-outlined">article</span>
        </HeaderLink>
         Posts
      </div>
      <div class="text">
        <HeaderLink href="/about">
          <span class="material-symbols-outlined">info</span>
        </HeaderLink>
         About
      </div>
    </div>
    <div class="social-links">
      <div class="text">
        <a href="https://github.com/bloom-69" target="_blank">
          <span class="material-symbols-outlined">code</span>
        </a>
         Repo
      </div>
    </div>
  </nav>
</header>
<style>
  header {
    display: flex;
    position: sticky;
    -webkit-user-select: none;
    user-select: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 70px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: color-mix(in srgb, white 90%, var(--accent) 10%);
  }

  nav a {
    background-color: transparent;
    height: 25px;
    transition: all 300ms ease;
    font-variation-settings: "wght" 400;
    display: flex;
    width: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    color: var(--black);
    border-radius: 999px;
    font-size: 24px;
    text-decoration: none;
  }

  nav a:hover {
    background-color: color-mix(in srgb, white 30%, var(--accent) 15%);
    font-variation-settings: "wght" 700;
  }

  nav a.active {
    background-color: color-mix(in srgb, white 50%, var(--accent) 30%);
    font-variation-settings: "FILL" 1;
  }

  nav div.text {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: small;
  }

  .internal-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.3rem;
  }
  .social-links,
  .social-links a {
    margin-top: 1rem;
    display: flex;
  }

  @media (prefers-color-scheme: dark) {
    header {
      background-color: color-mix(in srgb, black 90%, var(--accent) 50%);
    }

    nav a.active {
      background-color: color-mix(in srgb, black 5%, var(--accent) 50%);
      color: color-mix(in srgb, white 90%, var(--accent) 10%);
    }
  }
  @media (max-width: 940px) {
    header {
      position: fixed;
      align-self: flex-end;
      top: auto;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3.5rem;
      z-index: 1000;
      flex-direction: row;
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
    }

    .internal-links,
    .social-links {
      /* Align links horizontally for navigation bar */
      flex-direction: row;
    }

    .social-links,
    .social-links a {
      display: none;
    }
    }
  }
</style>
