---
import HeaderLink from "./HeaderLink.astro";
import Modal from "../../components/settings/modal.astro";
---

<header>
  <nav>
    <div class="internal-links">
      <div class="link">
        <HeaderLink href="/">
          <span class="material-symbols-outlined">home</span>
        </HeaderLink>
        <div class="text">
          Home
        </div>
      </div>
      <div class="link">
        <HeaderLink href="/blog">
          <span class="material-symbols-outlined">article</span>
        </HeaderLink>
        <div class="text">
          Posts
        </div>
      </div>
    </div>
    <div class="social-links">
      <div class="text">
      <a href="https://github.com/bloom-69/blog" target="_blank">
        <span class="material-symbols-outlined">code</span>
      </a>
         Repo
      </div>
      <Modal/>
      <div class="text">
        <a href="https://bsky.app/profile/bloom.swifties.social">
          <span class="material-symbols-outlined">post</span>
        </a>
          Bluesky
      </div>
      <div class="text">
        <a data-astro-reload href="/rss.xml">
          <span class="material-symbols-outlined">rss_feed</span>
        </a>
           RSS
      </div>
    </div>
  </nav>
</header>
<style>
  header {
    z-index: 999999999 !important;
    display: flex;
    position: sticky;
    -webkit-user-select: none;
    user-select: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    max-width: 75px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: var(--md-sys-color-surface-container);
  }

  nav a {
    background-color: transparent;
    height: 27px;
    transition: all 300ms ease;
    font-variation-settings: "wght" 400;
    display: flex;
    width: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    color: var(--md-sys-color-on-surface-container);
    border-radius: 999px;
    font-size: 20px;
    text-decoration: none;
  }

  nav a:hover {
    background-color: var(--md-sys-color-surface-variant);
    color: var(--md-sys-color-on-surface-variant);
    font-variation-settings: "wght" 600;
  }

  nav a.active {
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
    font-variation-settings: "FILL" 1, "wght" 400;
  }

  nav div.text {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }

  div.link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .internal-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.3rem;
  }
  .social-links {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0.3rem;
  }

  /* Navigation Bar */
  @media (max-width: 940px) {
    header {
      max-width: 100%;
      position: fixed;
      align-self: flex-end;
      top: auto;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4.5rem;
      z-index: 100;
      flex-direction: row;
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
    }

    .internal-links,
    .social-links {
      /* Align links horizontally for navigation bar */
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      gap: 2rem;
    }

    a {
      transition: all 0.3s ease;
    }

    a:not(.active) {
      position: relative;
      transform: translateY(5px);
    }

    a:not(.active) ~ .text {
      opacity: 0;
    }

    a.active .text {
      opacity: 1;
    }

    .social-links,
    .social-links a {
      display: none;
    }
    }
  }
</style>
