---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Making post is fun"
	pubDate={new Date('October 25 2023')}
	heroImage="/About.png"
>
	<p>
		This blog was developed <b>only for sneak peeks, development stuff</b>. And thats it.
	</p>
	<p>This blog was developed by <b>Bloom</b></p>

	<blockquote>
		There's nothing wrong with being lazy.
	</blockquote>
</Layout>
