---
import BaseHead from "../components/layouts/BaseHead.astro";
import Header from "../components/layouts/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      .hero-image {
        transition: all 300ms ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        margin-top: 1rem;
        margin-inline: auto;
        background-size: cover;
        width: 90%;
        gap: 1rem;
        background-color: var(--md-sys-color-primary-container);
        color: var(--md-sys-color-on-primary-container);
        border-radius: 1rem;
      }

      .hero-image h1 {
        color: var(--md-sys-color-on-primary-container);
        font-size: 3rem;
      }

      a {
        text-decoration: none;
      }
      a button {
        transition: box-shadow 300ms ease;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        background-color: var(--md-sys-color-primary);
        color: var(--md-sys-color-on-primary);
        border: none;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border-radius: 999px;
        cursor: pointer;
      }

      a button:hover {
        box-shadow: 0 2px 5px rgba(0,0,0,0.5);
      }

      a button:active {
        box-shadow: 0 1px 5px rgba(0,0,0,0.5);
      }
    </style>
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main transition:animate="fade">
      <div data-background-image="/heroHome.png" class="hero-image">
        <h1>Welcome to my Blog!</h1>
        <p>Use the Navigation Rail/Bar to navigate or press this button:</p>
        <a href="/blog"><button><span class="material-symbols-outlined">article</span>View Posts</button></a>
      </div>
    </main>
  </body>
</html>
