---
import BaseHead from "../components/layouts/BaseHead.astro";
import Header from "../components/layouts/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main transition:animate="slide">
      <h1 class="title">Welcome to my Blog!</h1>
      <p>Use the Navigation Rail/Bar to navigate</p>
    </main>
    <style>
      h1.title {
        text-align: center;
        margin: 2rem;
      }

      p.splash {
        font-size: 1em;
        text-align: center;
        font-weight: bold;
      }
    </style>
  </body>
</html>
