@import url("./../../styles/global.css");


input.search {
  transition: 300ms all cubic-bezier(0.075, 0.82, 0.165, 1);
  position: initial;
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
  background-color: var(--md-sys-color-surface-container);
  border-radius: 10rem;
  border: 0;
  outline: none;
  margin-bottom: 0.5rem;
}

input.search:hover {
  background-color: var(--md-sys-color-surface-container);
}

input.search:focus,
input:focus-within {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

div.results {
  position: absolute;
  left: 0;
  z-index: 100;
  width: 100%;
  display: flex;
  margin-top: 1.9rem;
  flex-direction: column;
  justify-content: flex-start;
}

div.results_list {
  -webkit-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  background-color: var(--md-sys-color-surface-container);
  border-radius: 18px;
  overflow: hidden;
  gap: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

div.results_list > h1 {
  font-size: 2em;
  margin: 0;
}

div.results_list > p {
  margin: 0;
}

a.results_link {
  color: inherit;
  text-decoration: none;
}

div.grid {
  overflow-y: auto;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;

  margin-bottom: .4rem;
}

div.grid::-webkit-scrollbar {
  display: none;
}

@media (max-width: 940px) {
  div.grid {
    padding-bottom: 5rem;
  }
}